.signin{
    background-image: linear-gradient(to right, #00cEE0, #02b4c4);
    transition: background-color 0.3s ease;
}
.signin:hover{
    background-image: linear-gradient(to right, #0295a3, #0295a3);    
}
